@font-face {
	font-family: "Flaticon Social";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

.icon-social-android8:before {
	content: "\e000";
	font-family: "Flaticon Social";
}
.icon-social-apple62:before {
	content: "\e001";
	font-family: "Flaticon Social";
}
.icon-social-behance10:before {
	content: "\e002";
	font-family: "Flaticon Social";
}
.icon-social-behance5:before {
	content: "\e003";
	font-family: "Flaticon Social";
}
.icon-social-behance6:before {
	content: "\e004";
	font-family: "Flaticon Social";
}
.icon-social-behance7:before {
	content: "\e005";
	font-family: "Flaticon Social";
}
.icon-social-blogger10:before {
	content: "\e006";
	font-family: "Flaticon Social";
}
.icon-social-blogger11:before {
	content: "\e007";
	font-family: "Flaticon Social";
}
.icon-social-blogger8:before {
	content: "\e008";
	font-family: "Flaticon Social";
}
.icon-social-blogger9:before {
	content: "\e009";
	font-family: "Flaticon Social";
}
.icon-social-deviantart10:before {
	content: "\e00a";
	font-family: "Flaticon Social";
}
.icon-social-deviantart6:before {
	content: "\e00b";
	font-family: "Flaticon Social";
}
.icon-social-deviantart7:before {
	content: "\e00c";
	font-family: "Flaticon Social";
}
.icon-social-deviantart8:before {
	content: "\e00d";
	font-family: "Flaticon Social";
}
.icon-social-dribbble13:before {
	content: "\e00e";
	font-family: "Flaticon Social";
}
.icon-social-dribbble14:before {
	content: "\e00f";
	font-family: "Flaticon Social";
}
.icon-social-ebay6:before {
	content: "\e010";
	font-family: "Flaticon Social";
}
.icon-social-facebook43:before {
	content: "\e011";
	font-family: "Flaticon Social";
}
.icon-social-facebook44:before {
	content: "\e012";
	font-family: "Flaticon Social";
}
.icon-social-facebook45:before {
	content: "\e013";
	font-family: "Flaticon Social";
}
.icon-social-facebook48:before {
	content: "\e014";
	font-family: "Flaticon Social";
}
.icon-social-flickr18:before {
	content: "\e015";
	font-family: "Flaticon Social";
}
.icon-social-flickr19:before {
	content: "\e016";
	font-family: "Flaticon Social";
}
.icon-social-flickr20:before {
	content: "\e017";
	font-family: "Flaticon Social";
}
.icon-social-gdrive:before {
	content: "\e018";
	font-family: "Flaticon Social";
}
.icon-social-google109:before {
	content: "\e019";
	font-family: "Flaticon Social";
}
.icon-social-google110:before {
	content: "\e01a";
	font-family: "Flaticon Social";
}
.icon-social-google111:before {
	content: "\e01b";
	font-family: "Flaticon Social";
}
.icon-social-google113:before {
	content: "\e01c";
	font-family: "Flaticon Social";
}
.icon-social-instagram12:before {
	content: "\e01d";
	font-family: "Flaticon Social";
}
.icon-social-instagram13:before {
	content: "\e01e";
	font-family: "Flaticon Social";
}
.icon-social-instagram14:before {
	content: "\e01f";
	font-family: "Flaticon Social";
}
.icon-social-instagram15:before {
	content: "\e020";
	font-family: "Flaticon Social";
}
.icon-social-linkedin20:before {
	content: "\e021";
	font-family: "Flaticon Social";
}
.icon-social-linkedin21:before {
	content: "\e022";
	font-family: "Flaticon Social";
}
.icon-social-linkedin22:before {
	content: "\e023";
	font-family: "Flaticon Social";
}
.icon-social-linkedin23:before {
	content: "\e024";
	font-family: "Flaticon Social";
}
.icon-social-path4:before {
	content: "\e025";
	font-family: "Flaticon Social";
}
.icon-social-path5:before {
	content: "\e026";
	font-family: "Flaticon Social";
}
.icon-social-paypal14:before {
	content: "\e027";
	font-family: "Flaticon Social";
}
.icon-social-pinterest26:before {
	content: "\e028";
	font-family: "Flaticon Social";
}
.icon-social-pinterest27:before {
	content: "\e029";
	font-family: "Flaticon Social";
}
.icon-social-pinterest28:before {
	content: "\e02a";
	font-family: "Flaticon Social";
}
.icon-social-pinterest29:before {
	content: "\e02b";
	font-family: "Flaticon Social";
}
.icon-social-share26:before {
	content: "\e02c";
	font-family: "Flaticon Social";
}
.icon-social-skype19:before {
	content: "\e02d";
	font-family: "Flaticon Social";
}
.icon-social-tumblr21:before {
	content: "\e02e";
	font-family: "Flaticon Social";
}
.icon-social-twitter34:before {
	content: "\e02f";
	font-family: "Flaticon Social";
}
.icon-social-twitter35:before {
	content: "\e030";
	font-family: "Flaticon Social";
}
.icon-social-twitter36:before {
	content: "\e031";
	font-family: "Flaticon Social";
}
.icon-social-twitter37:before {
	content: "\e032";
	font-family: "Flaticon Social";
}
.icon-social-twitter38:before {
	content: "\e033";
	font-family: "Flaticon Social";
}
.icon-social-twitter39:before {
	content: "\e034";
	font-family: "Flaticon Social";
}
.icon-social-twitter42:before {
	content: "\e035";
	font-family: "Flaticon Social";
}
.icon-social-vimeo21:before {
	content: "\e036";
	font-family: "Flaticon Social";
}
.icon-social-vimeo23:before {
	content: "\e037";
	font-family: "Flaticon Social";
}
.icon-social-wikipedia3:before {
	content: "\e038";
	font-family: "Flaticon Social";
}
.icon-social-windows33:before {
	content: "\e039";
	font-family: "Flaticon Social";
}
.icon-social-wordpress14:before {
	content: "\e03a";
	font-family: "Flaticon Social";
}
.icon-social-wordpress15:before {
	content: "\e03b";
	font-family: "Flaticon Social";
}
.icon-social-wordpress16:before {
	content: "\e03c";
	font-family: "Flaticon Social";
}
.icon-social-youtube28:before {
	content: "\e03d";
	font-family: "Flaticon Social";
}
.icon-social-youtube29:before {
	content: "\e03e";
	font-family: "Flaticon Social";
}
.icon-social-youtube30:before {
	content: "\e03f";
	font-family: "Flaticon Social";
}
.icon-social-youtube31:before {
	content: "\e040";
	font-family: "Flaticon Social";
}
.icon-social-youtube32:before {
	content: "\e041";
	font-family: "Flaticon Social";
}
.icon-social-youtube33:before {
	content: "\e042";
	font-family: "Flaticon Social";
}
.icon-social-youtube34:before {
	content: "\e043";
	font-family: "Flaticon Social";
}
