@font-face {
	font-family: "Flaticon Industry";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

.icon-industry-atom25:before {
	content: "\e000";
	font-family: "Flaticon Industry";
}
.icon-industry-battery151:before {
	content: "\e001";
	font-family: "Flaticon Industry";
}
.icon-industry-battery152:before {
	content: "\e002";
	font-family: "Flaticon Industry";
}
.icon-industry-battery153:before {
	content: "\e003";
	font-family: "Flaticon Industry";
}
.icon-industry-bulb13:before {
	content: "\e004";
	font-family: "Flaticon Industry";
}
.icon-industry-bulb14:before {
	content: "\e005";
	font-family: "Flaticon Industry";
}
.icon-industry-businessman234:before {
	content: "\e006";
	font-family: "Flaticon Industry";
}
.icon-industry-cargo-ship:before {
	content: "\e007";
	font-family: "Flaticon Industry";
}
.icon-industry-crane18:before {
	content: "\e008";
	font-family: "Flaticon Industry";
}
.icon-industry-crane19:before {
	content: "\e009";
	font-family: "Flaticon Industry";
}
.icon-industry-crane20:before {
	content: "\e00a";
	font-family: "Flaticon Industry";
}
.icon-industry-electric58:before {
	content: "\e00b";
	font-family: "Flaticon Industry";
}
.icon-industry-factory17:before {
	content: "\e00c";
	font-family: "Flaticon Industry";
}
.icon-industry-fire42:before {
	content: "\e00d";
	font-family: "Flaticon Industry";
}
.icon-industry-gasoline4:before {
	content: "\e00e";
	font-family: "Flaticon Industry";
}
.icon-industry-gas-pump1:before {
	content: "\e00f";
	font-family: "Flaticon Industry";
}
.icon-industry-helmet6:before {
	content: "\e010";
	font-family: "Flaticon Industry";
}
.icon-industry-house157:before {
	content: "\e011";
	font-family: "Flaticon Industry";
}
.icon-industry-light89:before {
	content: "\e012";
	font-family: "Flaticon Industry";
}
.icon-industry-light-bulb:before {
	content: "\e013";
	font-family: "Flaticon Industry";
}
.icon-industry-mine1:before {
	content: "\e014";
	font-family: "Flaticon Industry";
}
.icon-industry-mine2:before {
	content: "\e015";
	font-family: "Flaticon Industry";
}
.icon-industry-nuclear7:before {
	content: "\e016";
	font-family: "Flaticon Industry";
}
.icon-industry-oil12:before {
	content: "\e017";
	font-family: "Flaticon Industry";
}
.icon-industry-oil13:before {
	content: "\e018";
	font-family: "Flaticon Industry";
}
.icon-industry-oil14:before {
	content: "\e019";
	font-family: "Flaticon Industry";
}
.icon-industry-pick5:before {
	content: "\e01a";
	font-family: "Flaticon Industry";
}
.icon-industry-pipe5:before {
	content: "\e01b";
	font-family: "Flaticon Industry";
}
.icon-industry-pipe6:before {
	content: "\e01c";
	font-family: "Flaticon Industry";
}
.icon-industry-pipe7:before {
	content: "\e01d";
	font-family: "Flaticon Industry";
}
.icon-industry-plug37:before {
	content: "\e01e";
	font-family: "Flaticon Industry";
}
.icon-industry-plug38:before {
	content: "\e01f";
	font-family: "Flaticon Industry";
}
.icon-industry-plug39:before {
	content: "\e020";
	font-family: "Flaticon Industry";
}
.icon-industry-pollution:before {
	content: "\e021";
	font-family: "Flaticon Industry";
}
.icon-industry-pressure6:before {
	content: "\e022";
	font-family: "Flaticon Industry";
}
.icon-industry-pumpjack:before {
	content: "\e023";
	font-family: "Flaticon Industry";
}
.icon-industry-refresh65:before {
	content: "\e024";
	font-family: "Flaticon Industry";
}
.icon-industry-rubbish3:before {
	content: "\e025";
	font-family: "Flaticon Industry";
}
.icon-industry-saw17:before {
	content: "\e026";
	font-family: "Flaticon Industry";
}
.icon-industry-ship15:before {
	content: "\e027";
	font-family: "Flaticon Industry";
}
.icon-industry-socket1:before {
	content: "\e028";
	font-family: "Flaticon Industry";
}
.icon-industry-socket:before {
	content: "\e029";
	font-family: "Flaticon Industry";
}
.icon-industry-solar-panel:before {
	content: "\e02a";
	font-family: "Flaticon Industry";
}
.icon-industry-sun92:before {
	content: "\e02b";
	font-family: "Flaticon Industry";
}
.icon-industry-tank-wagon:before {
	content: "\e02c";
	font-family: "Flaticon Industry";
}
.icon-industry-toxic10:before {
	content: "\e02d";
	font-family: "Flaticon Industry";
}
.icon-industry-train34:before {
	content: "\e02e";
	font-family: "Flaticon Industry";
}
.icon-industry-transmission-tower:before {
	content: "\e02f";
	font-family: "Flaticon Industry";
}
.icon-industry-truck61:before {
	content: "\e030";
	font-family: "Flaticon Industry";
}
.icon-industry-truck62:before {
	content: "\e031";
	font-family: "Flaticon Industry";
}
.icon-industry-truck63:before {
	content: "\e032";
	font-family: "Flaticon Industry";
}
.icon-industry-water61:before {
	content: "\e033";
	font-family: "Flaticon Industry";
}
.icon-industry-water63:before {
	content: "\e034";
	font-family: "Flaticon Industry";
}
.icon-industry-wheelbarrow6:before {
	content: "\e035";
	font-family: "Flaticon Industry";
}
.icon-industry-wind32:before {
	content: "\e036";
	font-family: "Flaticon Industry";
}
.icon-industry-worker20:before {
	content: "\e037";
	font-family: "Flaticon Industry";
}
.icon-industry-world97:before {
	content: "\e038";
	font-family: "Flaticon Industry";
}
